@charset "utf-8";

@import "layout.css";
@import "content.css";
@import "https://fonts.googleapis.com/earlyaccess/nanumgothic.css";


@font-face {
		font-family:ng; 
		src:url(../css/NanumGothic.eot);		
		src:url('../css/NanumGothic.eot?#iefix') format('embedded-opentype'),
			url(../css/NanumGothic.ttf) format('truetype');
		src:local(※),url(../css/NanumGothic.woff) format('woff')
		}

@font-face {
    font-family: "Nanum Gothic";
    src: url("../css/NanumGothic.eot");
}
@font-face {
    font-family: "Nanum Gothic";
    src: url("../css/NanumGothic.woff") format("woff");
}
/*
body { font-size:14px; color:#213d64; height:100%; line-height:18px; font-family:나눔고딕, NanumGothic, ng;}
*/


body,div,h1,h2,h6,ul,li,ol,dl,dt,dd,table,tr,td,p,span,img,input,p{padding:0;margin:0;}

caption{ display:none;}
ul,ol,dl{list-style:none;}
form { padding:0; margin:0; }
img, fieldset{ border:none;  margin:0; padding:0; vertical-align:middle }
table { list-style:none;border-collapse:collapse; }
input {	font-size:12px; color:#666; height:20px;line-height:20px; vertical-align:middle; text-indent:3px; border:#ccc solid 1px;}
textarea  { 	font-size:12px; color:#666; height:20px;line-height:20px; vertical-align:middle; text-indent:3px; border:#ccc solid 1px; } 
select { padding:0; margin:0; vertical-align: middle; color:#666; }
legend{ display: none; }
 
/* 링크 스타일 */
a:link {color:#666;text-decoration:none;}
a:visited {color:#666;text-decoration:none;}
a:hover {color:#666;text-decoration:underline;}
a:active {color:#666;text-decoration:none;}

input[type=submit],
input[type=image],
input[type=radio],
input[type=checkbox]{border:0;}

.hidden { display:none;}


/* margin */
.mt70 {margin-top:70px !important;}
.mt60 {margin-top:60px !important;}
.mt50 {margin-top:50px !important;}
.mt45 {margin-top:45px !important;}
.mt40 {margin-top:40px !important;}
.mt30 {margin-top:30px !important;}
.mt25 {margin-top:25px !important;}
.mt20 {margin-top:20px !important;}
.mt16 {margin-top:16px !important;}
.mt15 {margin-top:15px !important;}
.mt14 {margin-top:14px !important;}
.mt10 {margin-top:10px !important;}
.mt5 {margin-top:5px !important;}
.mt3 {margin-top:3px !important;}

.mr30 {margin-right:30px !important;}
.mr20 {margin-right:20px !important;}
.mr15 {margin-right:15px !important;}
.mr10 {margin-right:10px !important;}
.mr5 {margin-right:5px !important;}

.mb80 {margin-bottom:80px !important;}
.mb30 {margin-bottom:30px !important;}
.mb20 {margin-bottom:20px !important;}
.mb15 {margin-bottom:15px !important;}
.mb10 {margin-bottom:10px !important;}
.mb5 {margin-bottom:5px !important;}

.ml70 {margin-left:70px !important;}
.ml50 {margin-left:50px !important;}
.ml40 {margin-left:40px !important;}
.ml30 {margin-left:30px !important;}
.ml20 {margin-left:20px !important;}
.ml12 {margin-left:12px !important;}
.ml15 {margin-left:15px !important;}
.ml10 {margin-left:10px !important;}
.ml5 {margin-left:5px !important;}

h2 {color:#213d64; line-height:30px;border-left:5px solid #213d64; padding-left:10px;}
.box01 { padding:30px 30px; border:1px solid #ddd; background:#f9f9f9; font-size:14px; line-height:24px;}
/*  */
/* h2 { font-weight: bold; font-size: 30px; font-family: 나눔고딕, NanumGothic, ng; border-bottom:5px solid #004891; text-decoration:none; }
h3 { font-weight: bold; font-size: 20px; font-family: 나눔고딕, NanumGothic, ng; border-bottom:5px solid #004891; text-decoration:none; } */
